fastapi
uvicorn
python-dotenv
openai
pyairtable
apscheduler
requests
pydantic
pydantic-settings
supabase
google-generativeai
python-multipart
sqlalchemy
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
